.idea/
__pycache__/
*.py[cod]


*.class
*.o
*.dSYM
env_vars.mk

c++/web_tutorial_testing/*.cpp
c++/web_tutorial_fortheweb/*.cpp

java/web_tutorial_testing/*.java
java/web_tutorial_fortheweb/*.java

python/web_tutorial_testing/*.py
python/web_tutorial_fortheweb/*.py
