.idea/
__pycache__/
*.py[cod]


*.class
*.o
*.dSYM
env_vars.mk

c++/web_tutorial
c++/web_tutorial_testing
c++/web_tutorial_fortheweb

java/web_tutorial
java/web_tutorial_testing
java/web_tutorial_fortheweb

python/web_tutorial
python/web_tutorial_testing
python/web_tutorial_fortheweb
